/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .content_main {
        width: 94%;
        margin: 0 2%;
        height: auto;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        gap: 2%;
    }
    aside {
        width: 25%;
        margin-top: 2%;
        margin-left: 15%;
    }
    aside div {
        text-align: center;
    }
    #pic {
        margin: 0;
        width: 80%;
        border-radius: 0 0 15% 15%;
        margin-top: 0;
    }
    #know_me {
        font-size: 8px;
        text-align: center;
        text-overflow: ellipsis;
        text-transform: capitalize;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 7%;
        padding: 10px;
        margin: 10px 0;
        color: #d1f6f7;
    }
    .ul_social {
        list-style: none;
        text-align: center;
        padding-left: 0;
        margin: auto;
    }

    .ul_social li {
        margin: 5px auto;
    }
    .ul_social li a {
        color: #1b253c;
        font-size: 25px;
        padding: 5px;
        transition: 0.5s;
    }
    .ul_social li a:hover {
        color: #d1f6f7;
        font-size: 25px;
        padding: 5px;
    }

    .Apis {
        text-align: center;
    }

    .Apis h3 {
        margin-top: 5px;
        font-size: 15px;
    }
    .Apis ul {
        margin: 0;
        padding: 0;
    }
    .Apis ul li {
        background-color: #1b253c;
        padding: 2px;
        margin: 10px 0;
        list-style: none;
        border-radius: 15px;
        box-sizing: content-box;
        border: 1px solid #d1f6f7;
        transition: 0.2s;
    }
    .Apis ul li:hover {
        background-color: #d1f6f7;
        list-style: none;
        box-sizing: content-box;
        padding: 2px;
        border-radius: 15px;
        margin: 10px 0;
        border: 1px solid #1b253c;
    }
    .Apis ul li a {
        text-decoration: none;
        color: #d1f6f7;
        transition: 0.5s;
        font-size: 10px;
        font-weight: bold;
    }
    .Apis ul li a:hover {
        text-decoration: none;
        color: #1b253c;
        font-size: 10px;
        font-weight: bold;
    }

    .article_main {
        width: 65%;
        margin-top: 5%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 0;
    }

    .Skills {
        margin: 28px 5px 0;
    }

    .Skills h1 {
        margin: 10px;
        padding: 0;
    }

    .Skills ul {
        background: rgba(0, 0, 0, 0.4);
        padding: 30px 30px 30px 60px;
        color: #f5ebe0;
        border-radius: 7%;
        box-shadow: 5px 10px 20px 0 #000;
        border: inset #4d6099;
        border-width: 5px 5px 1px 5px;
        margin: auto;
        list-style: none;
        line-height: 25px;
    }
    .Soft_Skills {
        margin: 20px 10px 0;
    }
    .Soft_Skills h1 {
        margin: 10px;
    }
    .Soft_Skills ul {
        background: rgba(0, 0, 0, 0.4);
        padding: 30px 30px 30px 60px;
        color: #f5ebe0;
        border-radius: 7%;
        box-shadow: 5px 10px 20px 0 #000;
        border: inset #4d6099;
        border-width: 5px 5px 1px 5px;
        margin: auto;
        list-style: none;
        line-height: 25px;
    }

    .badge-base {
        width: 400px;
    }
    .badge-base {
        position: absolute;
        right: -60px;
        top: 100px;
        position: fixed;
    }
    .div_pattern {
        width: 100%;
        margin: auto;
    }
    footer {
        margin-left: 15%;
    }
    footer h1,
    p {
        text-align: center;
        margin: 0 5%;
    }
    footer h1 {
        font-size: 25px;
    }
    fieldset {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
        margin: 0 5% 5%;
        width: 90%;
        height: auto;
    }

    legend {
        margin: auto;
        color: #f5ebe0;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
    }

    .contenedor1_contact {
        margin: 10% 0;
        width: 80%;
        padding: 30px;
        box-sizing: content-box;
    }
    .elemento {
        text-align: center;
    }
    .elemento label {
        color: #f5ebe0;
        font-size: 20px;
    }
    .elemento textarea {
        width: 90%;
        padding-top: 2px;
        border-radius: 10px;
    }
    .elemento input {
        width: 80%;
        padding-top: 2px;
        border-radius: 10px;
    }
    form button {
        margin: 0;
        padding: 3px;
        width: 150px;
        letter-spacing: 3px;
        background: none;
        color: #d5bdaf;
        border-radius: 7%;
        border-color: #d5bdaf;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .LI-profile-badge {
        display: none;
    }
} */
