#body {
    width: 100%;
    margin: auto;
    background-image: url('/src/img/pexels.png');
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Arvo', serif;
}
.container{
 
    width: 50%;

}

.color1 {
    color: #140f07;
}
.color2 {
    color: #1b253c;
}
.color3 {
    color: #4d6099;
}
.color4 {
    color: #87a5fb;
}
.color5 {
    color: #d1f6f7;
}
/*INIT Responsive*/

/*FINAL Responsive*/

/*INIT INDEX.HTML*/

.content_main {
    width: 100%;
    margin: 0 2%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2%;
}
#pic {
    margin: 0;
    width: 40%;
    border-radius: 0 0 15% 15%;
    margin-top: 2%;
}
#know_me {
    font-size: 15px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7%;
    padding: 10px;
    margin: 10px 0;
    color: #d1f6f7;
}

#Projects {
    text-align: center;
}

#Projects h3 {
    margin-top: 15px;
    font-size: 25px;
}
#Projects ul {
    margin: 20px 70px;
    padding: 0;
}
#Projects ul li {
    background-color: #1b253c;
    padding: 15px 0;
    margin: 5px 0;
    list-style: none;
    border-radius: 15px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid #d1f6f7;
    transition: 0.5s;
}
#Projects ul li:hover {
    background-color: #d1f6f7;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1b253c;
}
#Projects ul li a {
    text-decoration: none;
    color: #d1f6f7;
    transition: 0.5s;
    font-size: 20px;
    font-weight: bold;
}
#Projects ul li a:hover {
    text-decoration: none;
    color: #1b253c;
    font-size: 20px;
    font-weight: bold;
}




footer h1,
p {
    text-align: center;
}
fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    width: 20%;
    margin: auto;
}

legend {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #f5ebe0;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
}

.contenedor1_contact {
    margin: auto;
    width: 400px;
    padding: 30px;
    box-sizing: content-box;
}
.elemento {
    text-align: center;
}
.elemento label {
    color: #f5ebe0;
    font-size: 20px;
}
.elemento textarea {
    width: 100%;
    padding-top: 2px;
    margin: 10px;
    border-radius: 10px;
}
.elemento input {
    width: 300px;
    height: 30px;
    padding-top: 2px;
    margin: 10px;
    border-radius: 10px;
}
form button {
    margin: 0;
    padding: 3px;
    width: 150px;
    letter-spacing: 3px;
    background: none;
    color: #d5bdaf;
    border-radius: 7%;
    border-color: #d5bdaf;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
form button:hover {
    margin: 0;
    padding: 3px;
    width: 150px;
    letter-spacing: 3px;
    background: none;
    color: #fff;
    border-radius: 7%;
    border-color: #fff;
}
form button::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(213, 189, 175, 0.4);
    border-radius: 7%;
    z-index: -1;
    transition: 0.8s;
}
form button::before {
    bottom: 0;
    border-radius: 50% 50% 0% 0%;
}
form button:hover::before {
    height: 180%;
}
/*Links*/
